
*.root
.DS_Store
.DS_Store
*.gif
MuYield
Root/*
*.png
macro/H-line_initialProfile/*
macro/AerogelGeo/*
macro/Archive/*
macro/H-line_initialProfile_GM/*
run.sh
*.pdf
macro/LaserOutput/3006_Nrepeat3031781_47673.dat
*.mp4
macro/LaserOutput/3012-reflection-Nrepeat3031781_61123.dat
macro/LaserOutput/3012-reflection-Nrepeat3031781_61161.dat
macro/LaserOutput/3012-reflection-Nrepeat3031781_61449.dat
macro/testOutput-reflection_63652.dat
macro/testOutput-reflection_63652.dat
macro/testOutput-reflection-3012_57153.dat
macro/testOutput-reflection-3012_56462.dat
macro/Output-210113-reflection-3012-4_57642.dat
macro/Output-210113-reflection-3012-3_5969.dat
macro/Output-210113-reflection-3012-2_6444.dat
macro/Output-210113-reflection-3012-1_5828.dat
macro/Output-210113-reflection-3012-0_4465.dat
